{
  "project_info": {
    "project_number": "506558902187",
    "project_id": "tisra-netra",
    "storage_bucket": "tisra-netra.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:506558902187:android:c4758858ec1cc8520cacee",
        "android_client_info": {
          "package_name": "com.futureluck.tisranetrta"
        }
      },
      "oauth_client": [
        {
          "client_id": "506558902187-akspei9r61tufuf4e8v4jbgig15bpjq3.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": ""
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "506558902187-akspei9r61tufuf4e8v4jbgig15bpjq3.apps.googleusercontent.com",
              "client_type": 3
            },
            {
              "client_id": "506558902187-s70f6f0cqb8svjdk781813c0quajhuak.apps.googleusercontent.com",
              "client_type": 2,
              "ios_info": {
                "bundle_id": "com.example.percive"
              }
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
